:root {
    --background-color: #e5e5e5;
    --main-color: #024489;
    --header-text: #fff;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
  overscroll-behavior: none;
}

body {
    background-color: var(--background-color);
    font-size: 18px;
}

header {
    background-color: var(--main-color);
    color: var(--header-text);
    padding: 20px 50px;
    font-family: Verdana ;
}

main {
    margin: 20px 50px;
}

main p {
    padding: 5px 0;
}

.reference {
    vertical-align: super;
}
figure {
    display: block;
    margin: 0 auto;
    width: 50%;
}
figure img {
    width: 100%;
}