:root {
    --background-color: #e5e5e5;
    --main-color: #024489;
    --header-text: #fff;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
  overscroll-behavior: none;
}

body {
    background-color: var(--background-color);
    font-size: 18px;
}

header {
    background-color: var(--main-color);
    color: var(--header-text);
    padding: 20px 50px;
    font-family: Verdana, sans-serif;
}

/**currently using table to manipulate the layout, this will be changed when using grid/flexbox**/
nav {
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

nav table {
    width: 100%;
}
nav table td {
    text-align: center;
}

#search {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
}

#search-button {
    color: var(--header-text);
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
}

main {
    margin: 20px 50px;
}

main section {
    margin: 15px 0;
}

main p {
    padding: 5px 0;
}

/**Adding a margin so lists line up better with the paragraphs**/
main li {
    margin: 0 15px;
}


figure {
    display: block;
    margin: 0 auto;
    width: 50%;
}
figure img {
    width: 100%;
}

.posts article {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
}

footer {
    text-align: center;
}

#references {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
#references ol {
    margin: 0 20px;
}
.reference-link {
    vertical-align: super;
}